<div class="container-fluid">
  <div class="row">
    <hr class="mb-2 border-1 border-top border-muted">

    <div class="col-xxl-6 mb-xxl-2 col-xl-6 mb-xl-2 col-lg-6 mb-lg-2 col-md-6 mb-mb-2 col-sm-12 col-12 footer text-center text-muted">
      2023
      <h1 style="margin-bottom: 0px"></h1>
      &copy;Imak Smart CIA Ltda.
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 footer text-center text-muted mb-2">
      Todos los derechos reservados.
    </div>
  </div>
</div>
