@import "src/styles";

.container-bloqueo {
    border-radius: 12px;
    background: #D9D9D9;
    padding: 1rem;
    display: grid;
    grid-template-columns: 4.5fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "texto"
        "botones"
        "opciones";


    .texto {
        grid-area: texto;

        p {
            margin-bottom: 0.1rem;
            text-align: center;
        }

        h6 {
            text-align: center;
            font-size: clamp(0.8rem, 0.2rem + 1.5vw, 1rem)
        }
    }

    .botones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "editar eliminar";
        align-self: center;
        grid-area: botones;

        .editar {
            grid-area: editar;
            justify-self: center;
        }

        .eliminar {
            grid-area: eliminar;
            justify-self: center;
        }
    }

    .opciones {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 10px;
        grid-auto-flow: row;
        grid-template-areas:
            "utterances responses";
        align-self: center;
        grid-area: opciones;

        .utterances {
            grid-area: utterances;

            p {
                border-radius: 20px;
                background: #FFFFFF;
                padding-block: 0.5rem;
                padding-inline: 1.5rem;
                text-align: center;
                font-size: clamp(0.5rem, 0.4rem + 0.9vw, 0.8rem)
            }
        }

        .responses {
            grid-area: responses;

            p {
                border-radius: 20px;
                background: #FFFFFF;
                padding-block: 0.5rem;
                padding-inline: 1.5rem;
                text-align: center;
                // font-size: 11px;
                font-size: clamp(0.5rem, 0.4rem + 0.9vw, 0.8rem)
            }
        }
    }
}

.delete-class {
    background: #ff432c;

    .texto {
        p {
            color: #fff;
        }

        h6 {
            color: #fff;
        }
    }
}

.modified-class {
    background: #6ad3fd;

    .texto {
        p {
            color: #0000;
        }

        h6 {
            color: #000;
        }
    }
}