<div class="container-bloqueo" [ngClass]="{ 'modified-class': !register.estado, 'delete-class': register.eliminar }">
    <div class="texto">
        <!-- <p><strong>id:</strong> {{register.id}}</p> -->
        <h6><strong>Título:</strong> {{register.title}}</h6>
    </div>
    <div class="botones">
        <div class="editar">
            <button appDisableForRoles="['BASIC']"  class="btn boton-4 mx-3 mb-2" (click)="selectOpcion('edit')">
                <img src="assets/icons/edit.svg" alt="Icono">
            </button>
        </div>
        <div class="eliminar">
            <button appDisableForRoles="['BASIC']"  class="btn boton-5 mx-3 mb-2" (click)="selectOpcion('delete')">
                <img src="assets/icons/delete.svg" alt="Icono">
            </button>
        </div>
    </div>
    <div class="opciones">
        <div class="utterances">
            <p (click)="selectOpcion('utterences')"><strong>Utterances:</strong> {{register.utterances}}</p>
        </div>
        <div class="responses">
            <p (click)="selectOpcion('responses')"><strong>Responses:</strong> {{register.responses}}</p>
        </div>
    </div>
</div>