<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <img alt="icono-empresa" (click)="toggleCollapse()" class="logo" src="assets/images/epn-transparente.png">
        <div class="logo-text" @fadeInOut *ngIf="collapsed">EPN</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">  
            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link"
                   *ngIf="!data.hijos"
                   [routerLink]="[data.routeLink]"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}"
                   (click)="shrinkItems(data)"
                >
                    <img class="sidenav-link-icon" [src]="data.icon" width="18px">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.label}}
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
