<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <img alt="icono-empresa" (click)="toggleCollapse()" class="logo" src="assets/images/epn-transparente.png">
        <div class="logo-text" @fadeInOut *ngIf="collapsed">EPN</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">  

            <i class="fa-solid fa-left-long"></i>

            <li class="sidenav-nav-item" *ngFor="let data of navData">
                <a class="sidenav-nav-link" (click)="handleClick(data)"
                   *ngIf="data.hijos && data.hijos.length > 0"
                   [ngClass]="getActiveClass(data)"
                >
                    <img class="sidenav-link-icon" [src]="data.icono" width="18px">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{ data.nombre }}
                    </span>
                    <!-- <i *ngIf="data.hijos && collapsed" class="menu-collapse-icon"
                       [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"
                    ></i> -->
                </a>

                <a class="sidenav-nav-link"
                   *ngIf="!data.hijos || (data.hijos && data.hijos.length === 0)"
                   [routerLink]="[data.routeLink]"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}"
                   (click)="shrinkItems(data)"
                >
                    <i class="sidenav-link-icon" [class]="data.icono"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.nombre}}
                    </span>
                </a>
                <!-- <div *ngIf="collapsed && data.hijos && data.hijos.length > 0">
                    <app-sublevel-menu
                            (toggleEvent)="closeSidenav()"
                            [data]="data"
                            [collapsed]="collapsed"
                            [multiple]="multiple"
                            [expanded]="data.expanded"
                    ></app-sublevel-menu>
                </div> -->
            </li>
        </ul>
    </div>
</div>
