<div class="container-fluid formulario-container">
    <form [formGroup]="formUser" class="formulario">
        <div class="grid">
            <div class="row cabecera">
                <h4> {{ data ? 'EDITAR' : 'CREAR'}} USUARIO ADMINISTRADOR </h4>

                <p>Llene los campos necesarios para el usuario</p>
            </div>

            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-6 col-12 col-sm-12">
                    <div class="form-group">
                        <label for="email">Correo electrónico:</label>
                        <input style="height: 50px;" type="text" formControlName="email" class="form-control"
                            id="email" name="email">
                        <h5 class="mensaje-error" *ngIf="campoEmail.hasError('email')">El correo ingresado es incorrecto</h5>
                        <h5 class="mensaje-error" *ngIf="campoEmail.hasError('emailDomain')">El correo ingresado no pertenece a la EPN</h5>
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 col-sm-12 d-grid gap-2 mt-4">
                    <button [disabled]="data" (click)="generarPassword()" class="btn boton-1" type="button">Generar Password</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <h2>{{passwordGenerado}}</h2>

                    <p *ngIf="passwordGenerado" class="mensaje-password">Por favor, el código generado debes entregar al usuario que creaste</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="names">Nombres:</label>
                        <input onkeyup="this.value=this.value.toUpperCase()" style="height: 50px;" type="text" formControlName="names" class="form-control"
                            id="names" name="names">
                    </div>
                </div>

                <div class="offset-xxl-3 col-xxl-6 offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="nombre">Rol:</label>
                        <select formControlName="rol" style="height: 50px;" class="form-select" aria-label="Default select example">
                            <option disabled>Seleccionar Rol</option>
                            <option value="ADMIN">Administrador</option>
                            <option value="BASIC">Usuario</option>
                          </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-sm-12 d-grid gap-2 mt-4">
                    <button [disabled]="formUser.invalid" (click)="acept()" class="btn boton-1" type="button">Aceptar</button>
                </div>
                <div style="margin-bottom: 2rem;" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-sm-12 d-grid gap-2 mt-4">
                    <button (click)="cancel()" class="btn boton-2" type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>