<router-outlet></router-outlet>
<ngx-spinner template="<img src='./assets/images/epn-transparente.png' style='width: 80%;'/>">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
        <div class="espacio-3"></div>
        <div class="espacio-3"></div>
        <div class="espacio-3"></div>
        <div class="espacio-3"></div>
        <div class="col-sm-6 col-6" *ngIf="saltoLinea">
          <div class="espacio-3"></div>
          <div class="espacio-3"></div>
          <div class="espacio-3"></div>
        </div>
      </div>
      <p style="font-size: 28px; color: #fff; text-align: center">
        <strong>{{loadingText}}</strong>
      </p>
</ngx-spinner>