<div class="container">
    <div class="row">
        <h4>GESTION DE USUARIOS</h4>
    </div>

    <div class="row">
        <div
            class="col-xxl-9 text-xxl-end col-xl-9 text-xl-end col-lg-9 text-lg-end col-md-8 text-md-end col-sm-6 text-sm-end col-12 col-sm-12 text-center">
        </div>

        <div
            class="col-xxl-3 text-xxl-end col-xl-3 text-xl-end col-lg-3 text-lg-end col-md-4 text-md-end col-sm-6 text-sm-end col-12 col-sm-12 text-center d-grid gap-2">
            <button class="btn boton-1" type="button">Agregar</button>
        </div>
    </div>
</div>