<div class="screen1">
  <div class="info">
    <div class="epn centrar-imagen">
      <img src="assets/images/epn-transparente.png" alt="epn-transparente">
    </div>
    <div class="fis centrar-imagen">
      <img src="assets/images/fis.png" alt="epn-transparente">
    </div>
  </div>

  <div class="form">
    <h1>BIENVENIDOS</h1>

    <div class="espacio-3"></div>

    <img src="assets/images/epn-letras.png" alt="">

    <div class="espacio-3"></div>

    <button class="btn boton-1">
      Iniciar sesión
    </button>
  </div>
</div>