<div class="screen1">
  <div class="info">
    <div class="epn centrar-imagen">
      <img src="assets/images/epn-transparente.png" alt="epn-transparente">
    </div>
    <div class="fis centrar-imagen">
      <img src="assets/images/fis.png" alt="epn-transparente">
    </div>
  </div>

  <div class="form">
    <h1>BIENVENIDOS</h1>

    <div class="espacio-3"></div>

    <div class="form-login">
      <form class="login-form" [formGroup]="formularioLogin">
        <h6></h6>
        <input formControlName="email" type="text" placeholder="Email" />
        <h5 *ngIf="campoEmail.hasError('email')">El correo ingresado es incorrecto</h5>
        <h5 *ngIf="campoEmail.hasError('emailDomain')">El correo ingresado no pertenece a la EPN</h5>

        <div class="password-container">
          <input formControlName="password" [minlength]="5" [type]="passwordFieldType" placeholder="Password" />
          <img (click)="togglePasswordVisibility()" class="toggle-password" [src]="pathImagen" alt="Password">
        </div>

        <button (click)="iniciarSesion()" [disabled]="formularioLogin.invalid" type="submit" class="btn boton-2">Login</button>
        <p class="message">Olvidaste tu contraseña? <a (click)="recuperarPassword()">Recuperar contraseña</a></p>
      </form>
    </div>

    <button type="submit" class="btn boton-1" (click)="inicioOffice()">
      <img style="width: 10%; margin-right: 2rem;" src="assets/icons/microsoft.svg" alt="icono_microsoft">
      Iniciar sesión
    </button>
  </div>
</div>