<div class="container-fluid formulario-container">
    <form [formGroup]="formResponse" class="formulario">
        <div class="grid">
            <div class="row cabecera">
                <h4> {{ data ? 'EDITAR' : 'CREAR'}} RESPUETA </h4>

                <p>Llene los campos necesarios para {{ data ? 'editar' : 'agregar'}} una respuesta</p>
            </div>

            <div class="row">
                <div class="offset-xxl-3 col-xxl-6 offset-xl-3 col-xl-6 offset-lg-3 col-lg-6 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="nombre">Tipo:</label>
                        <select formControlName="type" style="height: 50px;" class="form-select" aria-label="Default select example">
                            <option value="text">Text</option>
                            <option value="image">Image</option>
                            <option value="link">Link</option>
                            <option value="action">Action</option>
                          </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div *ngIf="campoType.value == 'text'" class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="names">Contenido:</label>
                        <input style="height: 50px;" type="text" formControlName="content" class="form-control"
                            id="names" name="names">
                    </div>
                </div>

                <div *ngIf="campoType.value == 'link' || campoType.value == 'image'" class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="names">Path:</label>
                        <input style="height: 50px;" type="text" formControlName="path" class="form-control"
                            id="names" name="names">
                    </div>
                </div>

                <div *ngIf="campoType.value == 'action'"  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="names">Acción:</label>
                        <input style="height: 50px;" type="text" formControlName="action" class="form-control"
                            id="names" name="names">
                    </div>
                </div>

                <div *ngIf="campoType.value == 'action' || campoType.value == 'link'"  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="names">Nombre:</label>
                        <input style="height: 50px;" type="text" formControlName="name" class="form-control"
                            id="names" name="names">
                    </div>
                </div>

                <div *ngIf="campoType.value == 'image'"  class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 col-sm-12 mt-3">
                    <div class="form-group">
                        <label for="names">Etiqueta imagen:</label>
                        <input style="height: 50px;" type="text" formControlName="alt" class="form-control"
                            id="names" name="names">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-sm-12 d-grid gap-2 mt-4">
                    <button [disabled]="formResponse.invalid || !formResponse.dirty" (click)="acept()" class="btn boton-1" type="button">Aceptar</button>
                </div>
                <div style="margin-bottom: 2rem;" class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 col-sm-12 d-grid gap-2 mt-4">
                    <button (click)="cancel()" class="btn boton-2" type="button">Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>