@import "src/styles";

.formulario-container {
    max-height: calc(90vh - 10px);
    overflow-y: auto;
}

.formulario {
    max-height: calc(100% - 20px);
    /* 20px de margen inferior */
}

.container-fluid {
    padding: 2rem;
}

.cabecera {
    margin-top: 1rem;

    h4,
    p {
        text-align: center;
    }
}