// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$admin-chatbot-primary: mat.define-palette(mat.$indigo-palette);
$admin-chatbot-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$admin-chatbot-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-chatbot-theme: mat.define-light-theme((color: (primary: $admin-chatbot-primary,
        accent: $admin-chatbot-accent,
        warn: $admin-chatbot-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($admin-chatbot-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Raleway';
  src: url(assets/fonts/Raleway-Medium.ttf) format("opentype");
}

@font-face {
  font-family: 'Samsung';
  src: url(assets/fonts/samsungsharpsans-medium.otf) format("opentype");
}


/*TODO: COLORES COOPE*/
$color-1: #063E57;
$color-2: #D9D9D9;
$color-3: #222A36;

$tamano-fuente-1: 16px;
$tamano-fuente-2: 14px;
$tamano-fuente-3: 12px;

$border-radius-botones: 10px;

.color-1 {
  color: $color-1;
}

.color-2 {
  color: $color-2;
}

.boton-1 {
  color: #ffffff;
  font-weight: 700;
  background-color: $color-1;
  border-radius: $border-radius-botones;
  height: 50px;
  // width: 100%;
}

.boton-1:active {
  color: #ffffff;
  background-color: $color-1;
  opacity: 0.5;
}

.boton-2 {
  color: #ffffff;
  font-weight: 700;
  background-color: $color-2;
  border-radius: $border-radius-botones;
  height: 50px;
  // width: 100%;
}

.boton-2:active {
  color: #ffffff;
  background-color: $color-2;
  opacity: 0.5;
}


.boton-3 {
  border-color: $color-3;
  background: #e7e7e7;
  color: black;
  border-radius: $border-radius-botones;
  height: 50px;
  // width: 100%;
}

.centrar-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.espacio-3 {
  padding-bottom: 3rem;
}


.screen1,
.screen2,
.screen3,
.screen5,
.screen6,
.screen7,
.screen8,
.screen9,
.screen10,
.screen11,
.screen12 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  min-height: calc(100vh - 13vh);
}

.screen1{
  .info {
    width: 60%;
    height: 100%;
    border-radius: 0px 80px 80px 0px;
    background: $color-1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 40%;
    }
  }

  .form {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 80%;
    }
  }
}

@media (max-width: 992px) {
  .screen1 {
    .info {
      width: 50%;
    }

    .form {
      width: 50%;

      .card {
        width: 80%;
      }
    }
  }
}

@media (max-width: 580px) {
  .screen1{
    .info {

      img {
        width: 70%;
      }
    }

    .form {
      width: 100%;

      .card {
        width: 90%;
      }
    }
  }

}

@media (max-width: 430px) {
  .screen1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      background: $color-1;
      border-radius: 0px 0px 30px 30px;
      height: 25%;

      .img {
        width: 40%;
      }
    }

    .form {
      margin-top: 10rem;
      width: 90%;

      img {
        display: none;
      }
    }
  }
}

